$error: #ff0000;
$primary: #6466f1;
$secondary: #cecd24;
$white: #ffffff;
$text-color: #374151;
$border-color: #d1d5db;
$info: #9ca3af;
$navigation-item-active: #111727;
$navigation-item-hover: #374150;
$navigation-item-link: #d1d5db;
$navigation-background: #1f2938;
